.enroll-btn, .register-btn {
	position:fixed;
	left:0;
	bottom:0;
	background:rgb(104, 208, 129);
	padding-bottom: 55px;
	width: 100%;
	height: 49px;
	font-size: 18px;
	color: #fff;
	line-height: 49px;
	text-align: center;
	border: 0;
	z-index: 1001;
}
/*.enroll-btn {
	background:rgb(236, 92, 92);
}*/
/*.enroll-btn {
	opacity: 0.3;
}*/
.delete-enrollment {
	float: right; margin-right: 10px; margin-left: 5px; margin-top: 8px; background: #F5F5DC; color: #868686; border: 0;
}

.tablepaid th {
 text-align: center;
 border: none
}
.tablepaid th:nth-child(2){
	width:20%
}
.tablepaid th:nth-child(3){
	width:25%
}
.tablepaid tr td{
	font-size:.7em;
 	text-align: center;
 	border-right-style:none;
 	border-left-style:none;
 	border-top-style: none;
}
.tablepaid tr {
	border:none;
	box-shadow: inset 0px 0px 1em;
}
.tablepaid tr td:nth-child(4){
	text-align: left;
}
.tablepaid tr:nth-child(odd) td {
	background: #fff
}
